{# On crée des variables pour rendre dynamique l'attribution de la classe active sur les liens du menu  _left-nav #}
{% set dashboardActive = "" %}
{% set homeActive = "" %}
{% set carouselActive = "" %}

{#  On vérifie si un mot est contenu dans la route (barre d'adresse) et si c'est le cas on 
modifie la valeur de la variable concernée #}
{% if "dashboard" in app.request.pathinfo %}
{% set dashboardActive = "active" %}
{% elseif "home" in app.request.pathinfo %}
{% set homeActive = "active" %}
{% elseif "carousel" in app.request.pathinfo %}
{% set carouselActive = "active" %}
{% else %}
{% set dashboardActive = "active" %}
{% endif %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Welcome!{% endblock %}</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 
        viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# On charge la feuille de style d'adminkit #}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
	</head>
	<body>
        <div class="wrapper">
            {# On inclut le panneau latéral gauche #}
            {% include 'admin_common/_left-nav.html.twig' %}
            <div class="main">
                {# On inclut la top nav #}
                {% include 'admin_common/_top-nav.html.twig' %}
                <main class="content">
                    <div class="container-fluid p-0">
                        {% block body %}{% endblock %}
                    </div>
                </main>
                {# On inclut le footer #}
                {% include 'admin_common/_footer.html.twig' %}
            </div>
        </div>  
        <script src="{{ asset('js/app.js') }}"></script>
		{% block javascripts %}{% endblock %}
	</body>
</html>
